<% include ../partials/header.ejs %>


<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">
        <div class="section">
            <div class="container clearfix">
              <div class="row clearfix">
                <div class="col-sm-9">

                    <img src="../../uploads/userPictures/<%= currentUser.pic %>"
                         class="alignleft img-circle img-thumbnail notopmargin nobottommargin" alt="Avatar" style="max-width: 84px;">
                    <div class="heading-block noborder">
                        <h3><%= currentUser.firstname + " " + currentUser.lastname %></h3>
                        <span><%= currentUser.position %></span>
                    </div>

                    <div class="clear"></div>

                    <div class="row clearfix">

                        <div class="col-md-12">

                            <div class="tabs tabs-alt clearfix" id="tabs-profile">

                                <ul class="tab-nav clearfix">
                                    <% if(currentUser.permission === 'Admin'){ %>
                                    <li><a href="#tab-feeds"><i class="icon-user"></i>Users</a></li>
                                    <% } %>
                                    <li><a href="#tab-settings"><i class="icon-cog"></i>Settings</a></li>
                                </ul>

                                <div class="tab-container">
                                    <% if(currentUser.permission === 'Admin'){ %>
                                    <div class="tab-content clearfix" id="tab-feeds">

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Position</th>
                                                    <th>Office</th>
                                                    <th>TEL</th>
                                                    <th>Permission</th>
                                                    <th>Posts</th>
                                                    <th>Comments</th>
                                                    <th>Link</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <% user.forEach(function(usr){ %>
                                                <tr>
                                                    <td><%= usr.firstname + " " + usr.lastname %></td>
                                                    <td><%= usr.position %></td>
                                                    <td><%= usr.office %></td>
                                                    <td><%= usr.tel %></td>
                                                    <td><%= usr.permission %></td>
                                                    <td><%= usr.posts %></td>
                                                    <td><%= usr.comments %></td>
                                                    <td><a href="/userdetales/<%= usr._id %>">More</a></td>
                                                </tr>
                                                <% }) %>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <% } %>
                                    <div class="tab-content clearfix" id="tab-settings">
                                        <div class="row topmargin-sm clearfix">
                                            <div class="col-xs-12 bottommargin-sm">

                                                <form action="/avatar?_method=PUT" method="POST" enctype="multipart/form-data"  class="col-md-6 bottommargin">
                                                    <input id="input-8" type="file" name="user[pic]" accept="image/*" class="file-loading" data-allowed-file-extensions='[]'>
                                                </form>

                                                <form class="form-inline inline-block" action="/pass-change" method="POST">
                                                    <h4>პაროლის შეცვლა</h4>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="pass">Password</label>
                                                        <input type="password" name="pass" class="form-control" id="pass" placeholder="Password">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="pass2">Re-Password</label>
                                                        <input type="password" name="password" class="form-control" id="pass2" placeholder="Re-Password">
                                                    </div>
                                                    <button type="submit" class="btn btn-default">შეცვლა</button>
                                                </form>

                                                <form class="form" action="/mob-change?_method=put" method="post">
                                                    <div class="form-group">
                                                        <label for="exampleInputName2">Tel:</label>
                                                        <input type="text" name="user[tel]" class="form-control" id="exampleInputName2" value="<%= currentUser.tel %>">
                                                    </div>
                                                    <!--<div class="form-group">-->
                                                        <!--<label for="exampleInputName10">Position:</label>-->
                                                        <!--<input type="text" name="user[position]" class="form-control" id="exampleInputName10" value="<%= currentUser.position %>">-->
                                                    <!--</div>-->
                                                    <div class="form-group">
                                                        <label>Current Office: <%= currentUser.office %></label>
                                                        <select name="user[office]" class="select-1 form-control">
                                                            <option><%= currentUser.office %>           </option>
                                                            <option>Vake Shop           </option>
                                                            <option>Central Shop        </option>
                                                            <option>Gldani Shop         </option>
                                                            <option>Marjanishvili Shop  </option>
                                                            <option>Rustaveli Shop      </option>
                                                            <option>Avlabari Shop       </option>
                                                            <option>Pekini Shop         </option>
                                                            <option>Kostava Shop        </option>
                                                            <option>Ortachala Shop      </option>
                                                            <option>Varketili Shop      </option>
                                                            <option>NONE               </option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-default">შეცვლა</button>
                                                </form>
                                                <div class="signature-div">
                                                    <h3><em><u>Signature</u></em></h3>
                                                    <p><span id="signature"><strong><%=currentUser.firstname + " " + currentUser.lastname%></strong></span><br>
                                                    <%= currentUser.position %><br>
                                                    <%= currentUser.office %><br>
                                                    Mobile: <%= currentUser.tel %><br>
                                                    <a><%= currentUser.username %></a><br>
                                                    Geocell LLC., Part of Telia Company<br>
                                                    3 Gotua Str. Right Side of the River Mtkvari,Tbilisi, 0160, Georgia<br>
                                                    <a>www.teliacompany.com</a> <br>
                                                    <a>www.geocell.ge</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="line visible-xs-block"></div>

            </div>

            </div>
        </div>
    </div>

</section><!-- #content end -->
<% include ../partials/footer.ejs %>
