<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="../../css/dark.css" type="text/css" />
    <link rel="stylesheet" href="../../css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../css/animate.css" type="text/css" />
    <link rel="stylesheet" href="../../css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="../../css/myStyle/myStyle.css" type="text/css">

    <link rel="stylesheet" href="../../css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    <title>Evaluation</title>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
</div>
<header id="header" class="full-header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <!--<div id="logo">-->
            <!--<a href="/home" class="standard-logo" data-dark-logo="../../images/geocell-logo.png">-->
            <!--<img src="../../images/geocell-logo.png">-->
            <!--</a>-->
            <!--<a href="/home" class="retina-logo" data-dark-logo="../../images/geocell-logo.png">-->
            <!--<img src="../../images/geocell-logo.png" >-->
            <!--</a>-->
            <!--</div>-->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="style-3">

                <ul class="sf-js-enabled" style="touch-action: pan-y;">
                    <li><a href="/home"><div>მთავარი</div></a></li>
                    <% if(currentUser != undefined && currentUser.permission === 'Admin'){ %>
                    <li><a href="/register"><div>რეგისტრაცია</div></a></li>
                    <li class="current"><a href="/admin-panel"><div>ადმინ</div></a></li>
                    <% } %>
                    <li><a href="/evolution"><div>შეფასება</div></a></li>
                    <% if(currentUser != undefined) { %>
                    <li><a href="#"><div><em><%= currentUser.fullname %></em></div></a></li>
                    <% } %>
                </ul>



            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->

<!-- Page Title
        ============================================= -->
<section id="page-title" class="page-title-pattern">

    <div class="container clearfix">
        <h1><%= evaluation.evaluated %></h1>
        <span>შეფასების თარიღი: <%= evaluation.date.toDateString() %></span>
        <span>ოფისი: <%= evaluation.office %></span>
        <span>შეაფასა: <%= evaluation.author.fullname %></span>
        <span>ქულა: <%= evaluation.score %></span>
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">
        <div class="section">
            <div class="container clearfix">
                <div id="side-navigation" class="tabs custom-js">
                    <div class="col_one_third nobottommargin">
                        <ul class="sidenav">
                            <li class="ui-tabs-active"><a href="#snav-content1"><i class="icon-book"></i>კომპეტენცია<i class="icon-chevron-right"></i></a></li>
                            <li><a href="#snav-content2"><i class="icon-magic"></i>მომსახურების ხარისხი<i class="icon-chevron-right"></i></a></li>
                            <li><a href="#snav-content3"><i class="icon-tint"></i>დისციპლინა და სტანდარტები<i class="icon-chevron-right"></i></a></li>
                            <li><a href="#snav-content4"><i class="icon-magic"></i>სხვა<i class="icon-chevron-right"></i></a></li>
                        </ul>

                    </div>

                    <div class="col_two_third col_last nobottommargin">

                        <div id="snav-content1">
                                   <h3>კომპეტენცია</h3>
                               <p>ქულა: <%= evaluation.competency.cStars %></p>
                            <div class="criterium-box">
                                <table class="table table-bordered">
                                  <tbody>
                                      <tr>
                                          <td>კომპანიის პროდუქტების ცოდნა:</td>
                                          <td><%= evaluation.competency.c1 %></td>
                                      </tr>
                                      <tr>
                                          <td>სამუშაო პროცედურების ცოდნა</td>
                                          <td><%= evaluation.competency.c2 %></td>
                                      </tr>
                                      <tr>
                                          <td>სამუშაო პროგრამების ცოდნა/გამოყენებ</td>
                                          <td><%= evaluation.competency.c3 %></td>
                                      </tr>
                                      <tr>
                                          <td>ტექნოლოგიური სიახლეების ცოდნა</td>
                                          <td><%= evaluation.competency.c4 %></td>
                                      </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class='comment-box'>
                                <%= evaluation.competency.cComment %>
                            </div>
                        </div>

                        <div id="snav-content2">
                            <h3>მომსახურების ხარისხი</h3>
                            <p>ქულა: <%= evaluation.service.sStars %></p>
                            <div class="criterium-box">
                                <table class="table table-bordered">
                                  <tbody>
                                      <tr>
                                          <td>გაყიდვებზე ორიენტირებულობა</td>
                                          <td><%= evaluation.service.s1 %></td>
                                      </tr>
                                      <tr>
                                          <td>აბონენტის მომსმენის და მისი სჭირობების ინდენტიფიცირების უნარი</td>
                                          <td><%= evaluation.service.s2 %></td>
                                      </tr>
                                      <tr>
                                          <td>აბონენტისთვის ამომწურავი ინფორმაციის გადაცემა</td>
                                          <td><%= evaluation.service.s3 %></td>
                                      </tr>
                                      <tr>
                                          <td>პრობლემის მოგვარების უნარი</td>
                                          <td><%= evaluation.service.s4 %></td>
                                      </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class='comment-box'>
                                <%= evaluation.service.sComment %>
                            </div>
                        </div>

                        <div id="snav-content3">
                            <h3>მომსახურების ხარისხი</h3>
                            Dolor aperiam modi aliquam dolores consequatur error commodi ad eius incidunt! Libero, odio incidunt ullam sunt fugiat? Laboriosam, perferendis, debitis, harum soluta iste eos sunt odit architecto porro eveniet sint optio nihil animi. Laudantium, quam, culpa, velit molestias exercitationem reprehenderit enim distinctio aliquam aut ex numquam sequi assumenda veritatis fuga voluptatum. Magni, voluptates adipisci unde sapiente eligendi ea maxime tempora pariatur ipsa.. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, aspernatur, saepe, quidem animi hic rem libero earum fuga voluptas culpa iure qui accusantium ab quae dolorum laborum quia repellat fugit aut minima molestias placeat mollitia doloribus quibusdam consectetur officia nesciunt ad. Ab, quod ipsum commodi assumenda doloribus possimus sed laudantium.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>

                        <div id="snav-content4">
                            <h3>სხვა</h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, nostrum, dolores id quo nam repudiandae ad culpa architecto minima nemo eaque soluta nulla laborum neque provident saepe facilis expedita numquam quas alias in perferendis accusamus ipsam blanditiis sit voluptatem temporibus vero error veritatis repellat eos reiciendis repellendus quam. Officia dicta ipsam nostrum aperiam. Dolor, expedita enim modi nostrum commodi sint architecto aliquam aut mollitia repellendus deserunt quaerat aspernatur aperiam voluptatibus consequatur rerum consequuntur.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- #content end -->

<!-- Footer
============================================= -->
</div>
<footer id="footer" class="dark">



    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2014 All Rights Reserved by Sula Inc.<br>
                <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
            </div>

            <div class="clear"></div>

        </div>

    </div>

    </div><!-- #copyrights end -->


</footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="../../js/functions.js"></script>
<script type="text/javascript" src="../../js/myJs.js"></script>

<script>
  $(function() {
    $( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
  });
</script>

</body>
</html>