<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="../../css/dark.css" type="text/css" />
    <link rel="stylesheet" href="../../css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../css/animate.css" type="text/css" />
    <link rel="stylesheet" href="../../css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="../../css/myStyle/myStyle.css" type="text/css">

    <link rel="stylesheet" href="../../css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    <title>Evaluation</title>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
</div>
<header id="header" class="full-header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <!--<div id="logo">-->
            <!--<a href="/home" class="standard-logo" data-dark-logo="../../images/geocell-logo.png">-->
            <!--<img src="../../images/geocell-logo.png">-->
            <!--</a>-->
            <!--<a href="/home" class="retina-logo" data-dark-logo="../../images/geocell-logo.png">-->
            <!--<img src="../../images/geocell-logo.png" >-->
            <!--</a>-->
            <!--</div>-->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="style-3">

                <ul class="sf-js-enabled" style="touch-action: pan-y;">
                    <li><a href="/home"><div>მთავარი</div></a></li>
                    <% if(currentUser != undefined && currentUser.permission === 'Admin'){ %>
                    <li><a href="/register"><div>რეგისტრაცია</div></a></li>
                    <li class="current"><a href="/admin-panel"><div>ადმინ</div></a></li>
                    <% } %>
                    <li><a href="/evolution"><div>შეფასება</div></a></li>
                    <% if(currentUser != undefined) { %>
                    <li><a href="#"><div><em><%= currentUser.fullname %></em></div></a></li>
                    <% } %>
                </ul>



            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->

<!-- Page Title
        ============================================= -->
<section id="page-title" class="page-title-pattern">

    <div class="container clearfix">
        <h1><%= evaluation.evaluated %></h1>
        <span>შეფასების თარიღი: <%= evaluation.date.toDateString() %></span>
        <span>ოფისი: <%= evaluation.office %></span>
        <span>შეაფასა: <%= evaluation.author.fullname %></span>
        <span>საშუალო ქულა: <%= evaluation.score.toString().slice(0, 4) %></span>
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">
        <div class="section">
            <div class="container clearfix">
                <div id="side-navigation" class="tabs custom-js">
                    <div class="col_one_third nobottommargin">
                        <ul class="sidenav">
                            <li class="ui-tabs-active"><a href="#snav-content1"><i class="icon-book"></i>კომპეტენცია<i class="icon-chevron-right"></i></a></li>
                            <li><a href="#snav-content2"><i class="icon-magic"></i>მომსახურების ხარისხი<i class="icon-chevron-right"></i></a></li>
                            <li><a href="#snav-content3"><i class="icon-tint"></i>დისციპლინა და სტანდარტები<i class="icon-chevron-right"></i></a></li>
                            <li><a href="#snav-content4"><i class="icon-magic"></i>სხვა<i class="icon-chevron-right"></i></a></li>
                        </ul>

                    </div>

                    <div class="col_two_third col_last nobottommargin">

                        <div id="snav-content1" class="show-page">
                                   <h3>კომპეტენცია</h3>
                               <p>ქულა: <%= evaluation.competency.cStars.toString().slice(0, 4) %></p>
                            <div class="criterium-box">
                                <table class="table table-bordered">
                                  <tbody>
                                      <tr>
                                          <td>კომპანიის პროდუქტების ცოდნა:</td>
                                          <td><%= evaluation.competency.c1 %></td>
                                      </tr>
                                      <tr>
                                          <td>სამუშაო პროცედურების ცოდნა</td>
                                          <td><%= evaluation.competency.c2 %></td>
                                      </tr>
                                      <tr>
                                          <td>სამუშაო პროგრამების ცოდნა/გამოყენებ</td>
                                          <td><%= evaluation.competency.c3 %></td>
                                      </tr>
                                      <tr>
                                          <td>ტექნოლოგიური სიახლეების ცოდნა</td>
                                          <td><%= evaluation.competency.c4 %></td>
                                      </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class='comment-box'>
                                <%= evaluation.competency.cComment %>
                            </div>
                        </div>

                        <div id="snav-content2" class="show-page">
                            <h3>მომსახურების ხარისხი</h3>
                            <p>ქულა: <%= evaluation.service.sStars.toString().slice(0, 4) %></p>
                            <div class="criterium-box">
                                <table class="table table-bordered">
                                  <tbody>
                                      <tr>
                                          <td>გაყიდვებზე ორიენტირებულობა</td>
                                          <td><%= evaluation.service.s1 %></td>
                                      </tr>
                                      <tr>
                                          <td>აბონენტის მომსმენის და მისი სჭირობების ინდენტიფიცირების უნარი</td>
                                          <td><%= evaluation.service.s2 %></td>
                                      </tr>
                                      <tr>
                                          <td>აბონენტისთვის ამომწურავი ინფორმაციის გადაცემა</td>
                                          <td><%= evaluation.service.s3 %></td>
                                      </tr>
                                      <tr>
                                          <td>პრობლემის მოგვარების უნარი</td>
                                          <td><%= evaluation.service.s4 %></td>
                                      </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class='comment-box'>
                                <%= evaluation.service.sComment %>
                            </div>
                        </div>

                        <div id="snav-content3" class="show-page">
                            <h3>დისციპლინა და სტანდარტები</h3>
                            <p>ქულა: <%= evaluation.discipline.dStars.toString().slice(0, 4) %></p>
                            <div class="criterium-box">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td>გაყიდვებზე ორიენტირებულობა</td>
                                        <td><%= evaluation.discipline.d1 %></td>
                                    </tr>
                                    <tr>
                                        <td>აბონენტის მომსმენის და მისი სჭირობების ინდენტიფიცირების უნარი</td>
                                        <td><%= evaluation.discipline.d2 %></td>
                                    </tr>
                                    <tr>
                                        <td>აბონენტისთვის ამომწურავი ინფორმაციის გადაცემა</td>
                                        <td><%= evaluation.discipline.d3 %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class='comment-box'>
                                <%= evaluation.discipline.dComment %>
                            </div>
                        </div>

                        <div id="snav-content4" class="show-page">
                            <h3>სხვა</h3>
                            <p>ქულა: <%= evaluation.other.oStars.toString().slice(0, 4) %></p>
                            <div class="criterium-box">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td>კონფლიქტური სიტუაციების მართვა</td>
                                        <td><%= evaluation.other.o1 %></td>
                                    </tr>
                                    <tr>
                                        <td>სტრესულ სიტუაციაში მუშაობის უნარი</td>
                                        <td><%= evaluation.other.o2 %></td>
                                    </tr>
                                    <tr>
                                        <td>გუნდურობა</td>
                                        <td><%= evaluation.other.o3 %></td>
                                    </tr>
                                    <tr>
                                        <td>დროის მართვა</td>
                                        <td><%= evaluation.other.o4 %></td>
                                    </tr>
                                    <tr>
                                        <td>თვითგანვითარების უნარი</td>
                                        <td><%= evaluation.other.o5 %></td>
                                    </tr>
                                    <tr>
                                        <td>პერსონალის მართვის უნარი (ფასედბა მხოლოდ სუპერვაიზორი და უფროსი კონსულტანტი)</td>
                                        <td><%= evaluation.other.o6 %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class='comment-box'>
                                <%= evaluation.other.oComment %>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- #content end -->

<!-- Footer
============================================= -->
</div>
<footer id="footer" class="dark">



    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2014 All Rights Reserved by Sula Inc.<br>
                <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
            </div>

            <div class="clear"></div>

        </div>

    </div>

    </div><!-- #copyrights end -->


</footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="../../js/functions.js"></script>
<script type="text/javascript" src="../../js/myJs.js"></script>

<script>
  $(function() {
    $( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
  });
</script>

</body>
</html>