<%include ../partials/header%>
<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-pattern">

<div class="container clearfix">
<h1>ოფისები</h1>
<span>ოფისის მდებარეიბა იცვლება პროფილიდან</span>
</div>

</section><!-- #page-title end -->

<div class="container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        პიქსელი
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                        <% user.forEach(function (coworker) { %>
                        <% if(coworker.office === "Vake Shop") { %>
                        <div class="user-div col-xs-6 col-md-3">
                            <img class="thumbnail" id="userPic" src="/uploads/userPictures/<%= coworker.pic %>">
                            <div class="user-info">
                                <p><%= coworker.firstname + " " + coworker.lastname %></p>
                                <ul>
                                    <li><%= coworker.position %></li>
                                    <li>TEL: <%= coworker.tel %></li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        <% }) %>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ცენტრალი
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <ul>
                        <% user.forEach(function (coworker) { %>
                        <% if(coworker.office === "Central Shop") { %>
                        <div class="user-div col-xs-6 col-md-3">
                            <img class="thumbnail" id="userPic" src="/uploads/userPictures/<%= coworker.pic %>">
                            <div class="user-info">
                                <p><%= coworker.firstname + " " + coworker.lastname %></p>
                                <ul>
                                    <li><%= coworker.position %></li>
                                    <li>TEL: <%= coworker.tel %></li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        რუსთაველი
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <ul>
                        <% user.forEach(function (coworker) { %>
                        <% if(coworker.office === "Rustaveli Shop") { %>
                        <div class="user-div col-xs-6 col-md-3">
                            <img class="thumbnail" id="userPic" src="/uploads/userPictures/<%= coworker.pic %>">
                            <div class="user-info">
                                <p><%= coworker.firstname + " " + coworker.lastname %></p>
                                <ul>
                                    <li><%= coworker.position %></li>
                                    <li>TEL: <%= coworker.tel %></li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        <% }) %>

                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        გლდანი
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <ul>
                        <% user.forEach(function (coworker) { %>
                        <% if(coworker.office === "Gldani Shop") { %>
                        <div class="user-div col-xs-6 col-md-3">
                            <img class="thumbnail" id="userPic" src="/uploads/userPictures/<%= coworker.pic %>">
                            <div class="user-info">
                                <p><%= coworker.firstname + " " + coworker.lastname %></p>
                                <ul>
                                    <li><%= coworker.position %></li>
                                    <li>TEL: <%= coworker.tel %></li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        <% }) %>

                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        მარჯანიშვილი
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <ul>
                        <% user.forEach(function (coworker) { %>
                        <% if(coworker.office === "Marjanishvili Shop") { %>
                        <div class="user-div col-xs-6 col-md-3">
                            <img class="thumbnail" id="userPic" src="/uploads/userPictures/<%= coworker.pic %>">
                            <div class="user-info">
                                <p><%= coworker.firstname + " " + coworker.lastname %></p>
                                <ul>
                                    <li><%= coworker.position %></li>
                                    <li>TEL: <%= coworker.tel %></li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        <% }) %>

                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        ორთაჭალა
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <ul>
                        <% user.forEach(function (coworker) { %>
                        <% if(coworker.office === "Ortachala Shop") { %>
                        <div class="user-div col-xs-6 col-md-3">
                            <img class="thumbnail" id="userPic" src="/uploads/userPictures/<%= coworker.pic %>">
                            <div class="user-info">
                                <p><%= coworker.firstname + " " + coworker.lastname %></p>
                                <ul>
                                    <li><%= coworker.position %></li>
                                    <li>TEL: <%= coworker.tel %></li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        <% }) %>

                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeven">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        ავლაბარი
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body">
                    <ul>
                        <% user.forEach(function (coworker) { %>
                        <% if(coworker.office === "Avlabari Shop") { %>
                        <div class="user-div col-xs-6 col-md-3">
                            <img class="thumbnail" id="userPic" src="/uploads/userPictures/<%= coworker.pic %>">
                            <div class="user-info">
                                <p><%= coworker.firstname + " " + coworker.lastname %></p>
                                <ul>
                                    <li><%= coworker.position %></li>
                                    <li>TEL: <%= coworker.tel %></li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        <% }) %>

                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEight">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        ვარკეთილი
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="panel-body">
                    <ul>
                        <% user.forEach(function (coworker) { %>
                        <% if(coworker.office === "Varketili Shop") { %>
                        <div class="user-div col-xs-6 col-md-3">
                            <img class="thumbnail" id="userPic" src="/uploads/userPictures/<%= coworker.pic %>">
                            <div class="user-info">
                                <p><%= coworker.firstname + " " + coworker.lastname %></p>
                                <ul>
                                    <li><%= coworker.position %></li>
                                    <li>TEL: <%= coworker.tel %></li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        <% }) %>

                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNine">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        კოსტავა
                    </a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                <div class="panel-body">
                    <ul>
                        <% user.forEach(function (coworker) { %>
                        <% if(coworker.office === "Kostava Shop") { %>
                        <div class="user-div col-xs-6 col-md-3">
                            <img class="thumbnail" id="userPic" src="/uploads/userPictures/<%= coworker.pic %>">
                            <div class="user-info">
                                <p><%= coworker.firstname + " " + coworker.lastname %></p>
                                <ul>
                                    <li><%= coworker.position %></li>
                                    <li>TEL: <%= coworker.tel %></li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTen">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        პეკინი
                    </a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseTen">
                <div class="panel-body">
                    <ul>
                        <% user.forEach(function (coworker) { %>
                        <% if(coworker.office === "Pekini Shop") { %>
                        <div class="user-div col-xs-6 col-md-3">
                            <img class="thumbnail" id="userPic" src="/uploads/userPictures/<%= coworker.pic %>">
                            <div class="user-info">
                                <p><%= coworker.firstname + " " + coworker.lastname %></p>
                                <ul>
                                    <li><%= coworker.position %></li>
                                    <li>TEL: <%= coworker.tel %></li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>



<%include ../partials/footer%>